Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Archivos de Unreal
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# Archivos de sistema
Thumbs.db
Desktop.ini

# Configuración de Git
.git/
.gitignore
